<div class="btn-group" dropdown>
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <button class="navbar-toggler" dropdownToggle aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" routerLink="/character">Characters</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/location">Locations</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/episode">Episodes</a>
        </li>
    </ul>

</div>