<table class="table table-bordered">

    <tbody>
        <tr>
            <th scope="row">ID</th>
            <td>{{episode.id | json}}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>{{episode.name | json}}</td>
        </tr>
        <tr>
            <th scope="row">Air Date</th>
            <td>{{episode.air_date | json}}</td>

        </tr>
        <tr>
            <th scope="row">Episode</th>
            <td>{{episode.episode | json}}</td>

        </tr>
        <tr>
            <th scope="row">URL</th>
            <td><a href="url">{{episode.url | json}}</a></td>

        </tr>
        <tr>
            <th scope="row">Created</th>
            <td>{{episode.created | json}}</td>

        </tr>

    </tbody>
</table>